Repository zgeoff/decree: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-markdown

lint:
  run: yarn biome check --write --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

format-markdown:
  run: yarn prettier --write {staged_files}
  stage_fixed: true

feat(engine): implement v2 createEngine factory with processing loop and lifecycle
  packages/control-plane/src/engine/v2-engine/create-engine-v2.test.ts
  packages/control-plane/src/engine/v2-engine/create-engine-v2.ts
Due: lint

fix(engine): wire up agent handle registration callbacks and address review feedback
  packages/control-plane/src/engine/command-executor/start-agent-async.ts
  packages/control-plane/src/engine/command-executor/types.ts
  packages/control-plane/src/engine/v2-engine/create-engine-v2.test.ts
  packages/control-plane/src/engine/v2-engine/create-engine-v2.ts
Due: lint

docs(skill): clarify acceptable constraint duplication in agent-spec-writing
  .claude/skills/agent-spec-writing/SKILL.md
Due: format-markdown

docs(spec): add owner scope extension authority to implementor spec
  docs/specs/decree/agent-implementor.md
Due: format-markdown

refactor(agent): retune planner for Opus 4.6 prompting best practices
  .claude/agents/planner.md
Due: format-markdown

docs(spec): deprecate replaced v1 specs (migration step 9)
  docs/specs/decree/control-plane-engine-context-precomputation.md
  docs/specs/decree/control-plane-engine-planner-cache.md
  docs/specs/decree/control-plane-engine-recovery.md
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

refactor(agent): retune implementor for Opus 4.6 prompting best practices
  .claude/agents/implementor.md
Due: format-markdown

docs(spec): rework TUI spec for v2 architecture (migration step 8)
  docs/specs/decree/control-plane-tui.md
Due: format-markdown

refactor(agent): retune reviewer for Opus 4.6 prompting best practices
  .claude/agents/planner.md
  .claude/agents/reviewer.md
Due: format-markdown

docs(spec): add false-positive bias constraint to reviewer spec
  docs/specs/decree/agent-reviewer.md
Due: format-markdown

feat(tui): implement v2 type system and display status derivation
  packages/control-plane/src/tui/types.test.ts
  packages/control-plane/src/tui/types.ts
Due: lint

fix(tui): import RevisionFile from engine instead of redefining
  packages/control-plane/src/tui/types.ts
Due: lint

feat(tui): add v2 selectors for DisplayWorkItem model
  packages/control-plane/src/tui/selectors/get-action-count.test.ts
  packages/control-plane/src/tui/selectors/get-action-count.ts
  packages/control-plane/src/tui/selectors/get-agent-section-count.test.ts
  packages/control-plane/src/tui/selectors/get-agent-section-count.ts
  packages/control-plane/src/tui/selectors/get-display-work-items.test.ts
  packages/control-plane/src/tui/selectors/get-display-work-items.ts
  packages/control-plane/src/tui/selectors/get-planner-display-status.test.ts
  packages/control-plane/src/tui/selectors/get-planner-display-status.ts
  packages/control-plane/src/tui/selectors/get-running-agent-count.test.ts
  packages/control-plane/src/tui/selectors/get-running-agent-count.ts
  packages/control-plane/src/tui/selectors/get-sorted-work-items.test.ts
  packages/control-plane/src/tui/selectors/get-sorted-work-items.ts
  packages/control-plane/src/tui/selectors/types.ts
Due: lint

docs(spec): rework agent specs for v2 structured output (migration step 10)
  docs/specs/decree/agent-implementor.md
  docs/specs/decree/agent-planner.md
  docs/specs/decree/agent-reviewer.md
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

docs(spec): rework workflow spec for v2 architecture (migration step 11a)
  docs/specs/decree/workflow.md
Due: format-markdown

docs(spec): check off migration step 11a
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

docs(spec): rework workflow contracts for v2 structured output (migration step 11b)
  docs/specs/decree/v2/003-migration-plan.md
  docs/specs/decree/workflow-contracts.md
Due: format-markdown

refactor(tui): rewrite store from event-driven to engine store subscription
  packages/control-plane/src/tui/store.test.ts
  packages/control-plane/src/tui/store.ts
Due: lint

feat(tui): update work item list component for v2 data model
  packages/control-plane/src/tui/components/issue-list.test.tsx
  packages/control-plane/src/tui/components/issue-list.tsx
Due: lint

docs(spec): add testing strategy and update references in control-plane spec
  .claude/agents/implementor.md
  .claude/agents/planner.md
  .claude/agents/reviewer.md
  docs/specs/decree/control-plane-engine-state-store.md
  docs/specs/decree/control-plane-tui.md
  docs/specs/decree/control-plane.md
  docs/specs/decree/script-label-setup.md
  docs/specs/decree/v2/003-migration-plan.md
  docs/specs/decree/workflow-contracts.md
  docs/specs/decree/workflow.md
Due: format-markdown

docs(spec): complete v2 spec rewrite and audit
  .claude/CLAUDE.md
  .claude/agents/planner.md
  .claude/skills/github-workflow/SKILL.md
  .claude/skills/github-workflow/references/labels.md
  .claude/skills/github-workflow/references/templates.md
  docs/specs/decree/agent-hook-bash-validator-script.md
  docs/specs/decree/agent-hook-bash-validator.md
  docs/specs/decree/agent-implementor.md
  docs/specs/decree/agent-planner.md
  docs/specs/decree/agent-reviewer.md
  docs/specs/decree/control-plane-engine-agent-manager.md
  docs/specs/decree/control-plane-engine-agent-session-logging.md
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-context-precomputation.md
  docs/specs/decree/control-plane-engine-github-provider.md
  docs/specs/decree/control-plane-engine-handlers.md
  docs/specs/decree/control-plane-engine-issue-poller.md
  docs/specs/decree/control-plane-engine-planner-cache.md
  docs/specs/decree/control-plane-engine-pr-poller.md
  docs/specs/decree/control-plane-engine-recovery.md
  docs/specs/decree/control-plane-engine-runtime-adapter-claude.md
  docs/specs/decree/control-plane-engine-runtime-adapter.md
  docs/specs/decree/control-plane-engine-spec-poller.md
  docs/specs/decree/control-plane-engine-state-store.md
  docs/specs/decree/control-plane-engine.md
  docs/specs/decree/control-plane-tui.md
  docs/specs/decree/domain-model.md
  docs/specs/decree/github-cli.md
  docs/specs/decree/script-label-setup.md
  docs/specs/decree/skill-github-workflow.md
  docs/specs/decree/skill-spec-writing.md
  docs/specs/decree/v2/001-plan.md
  docs/specs/decree/v2/002-architecture.md
  docs/specs/decree/v2/003-migration-plan.md
  docs/specs/decree/workflow-contracts.md
  docs/specs/decree/workflow.md
Due: format-markdown

docs(spec): specify config file as user integration point for providers and adapters
  docs/specs/decree/control-plane-engine.md
  docs/specs/decree/control-plane.md
  packages/control-plane/src/main.ts
  packages/control-plane/src/tui/app.test.tsx
  packages/control-plane/src/tui/app.tsx
  packages/control-plane/src/tui/components/detail-pane.test.tsx
  packages/control-plane/src/tui/components/detail-pane.tsx
  packages/control-plane/src/tui/components/issue-list.test.tsx
  packages/control-plane/src/tui/components/issue-list.tsx
  packages/control-plane/src/tui/hooks.ts
  packages/control-plane/src/tui/index.tsx
  packages/control-plane/src/tui/test-utils/create-mock-engine.ts
Due: lint, format-markdown

docs(spec): final alignment pass on all v2 specs
  docs/specs/decree/agent-hook-bash-validator-script.md
  docs/specs/decree/agent-hook-bash-validator.md
  docs/specs/decree/agent-implementor.md
  docs/specs/decree/agent-planner.md
  docs/specs/decree/agent-reviewer.md
  docs/specs/decree/control-plane-engine-agent-session-logging.md
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-github-provider.md
  docs/specs/decree/control-plane-engine-handlers.md
  docs/specs/decree/control-plane-engine-revision-poller.md
  docs/specs/decree/control-plane-engine-runtime-adapter-claude.md
  docs/specs/decree/control-plane-engine-runtime-adapter.md
  docs/specs/decree/control-plane-engine-spec-poller.md
  docs/specs/decree/control-plane-engine-state-store.md
  docs/specs/decree/control-plane-engine-work-item-poller.md
  docs/specs/decree/control-plane-engine.md
  docs/specs/decree/control-plane-testing.md
  docs/specs/decree/control-plane-tui.md
  docs/specs/decree/control-plane.md
  docs/specs/decree/domain-model.md
  docs/specs/decree/github-cli.md
  docs/specs/decree/script-label-setup.md
  docs/specs/decree/skill-agent-spec-writing.md
  docs/specs/decree/skill-spec-writing.md
  docs/specs/decree/workflow-contracts.md
  docs/specs/decree/workflow.md
Due: format-markdown

chore(agents): update planner to structured output, add scope enforcement rules, and add rg to allowlists
  .claude/agents/implementor.md
  .claude/agents/planner.md
  .claude/agents/reviewer.md
Due: format-markdown

fix(docs): correct check:write command name in CLAUDE.md
  .claude/CLAUDE.md
Due: format-markdown

fix(test): speed up missing-jq test by shadowing instead of symlinking PATH
  scripts/workflow/validate-bash.test.sh
Due: none

fix(control-plane): remove trailing slash from specsDir config
  packages/control-plane/control-plane.config.ts
Due: lint

fix(control-plane): suppress Octokit request logging from leaking into TUI
  packages/control-plane/src/engine/github-client/create-github-client.test.ts
  packages/control-plane/src/engine/github-client/create-github-client.ts
Due: lint

docs(specs): add structured logging spec and update components with Pino logger
  docs/specs/decree/control-plane-engine-agent-session-logging.md
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-logging.md
  docs/specs/decree/control-plane-engine-revision-poller.md
  docs/specs/decree/control-plane-engine-runtime-adapter.md
  docs/specs/decree/control-plane-engine-spec-poller.md
  docs/specs/decree/control-plane-engine-work-item-poller.md
  docs/specs/decree/control-plane-engine.md
  docs/specs/decree/control-plane.md
Due: format-markdown

refactor(command-executor): use named AgentRole type and remove misleading comment
  packages/control-plane/src/engine/command-executor/create-command-executor.ts
  packages/control-plane/src/engine/command-executor/types.ts
Due: lint

refactor(control-plane): remove redundant pino type imports from test files
  packages/control-plane/src/engine/state-store/apply-state-update.test.ts
  packages/control-plane/src/tui/components/detail-pane.test.tsx
  packages/control-plane/src/tui/components/issue-list.test.tsx
Due: lint

refactor(runtime-adapter): restructure logger hierarchy, remove dead alias, name inline types
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.ts
Due: lint

refactor(runtime-adapter): remove hidden global side effect and double cast from adapter tests
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.test.ts
Due: lint

refactor(control-plane): remove unspecified error log from event queue shutdown path
  packages/control-plane/src/engine/create-engine.ts
  packages/control-plane/src/engine/event-queue/create-event-queue.test.ts
  packages/control-plane/src/engine/event-queue/create-event-queue.ts
  packages/control-plane/src/engine/event-queue/types.ts
Due: lint

fix(control-plane): replace raw setTimeout delays with vi.waitFor in app tests
  packages/control-plane/src/tui/app.test.tsx
Due: lint

refactor(control-plane): use global vi.resetAllMocks to eliminate per-test mock resets
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.test.ts
  packages/control-plane/src/engine/runtime-adapter/extract-patch.test.ts
  packages/control-plane/vitest.setup.ts
Due: lint

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx,json}
  format-markdown: any of: *.md
