Repository zgeoff/decree: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-markdown

lint:
  run: yarn biome check --write --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

format-markdown:
  run: yarn prettier --write {staged_files}
  stage_fixed: true

fix(agents): add contradiction detection to planner and reviewer
  .claude/agents/planner.md
  .claude/agents/reviewer.md
Due: format-markdown

refactor(pollers): migrate SpecPoller to v2 provider reader and state-store diffing
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.test.ts
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.ts
  packages/control-plane/src/engine/pollers/types.ts
  packages/control-plane/src/engine/utils/build-added-spec-event.test.ts
  packages/control-plane/src/engine/utils/build-added-spec-event.ts
  packages/control-plane/src/engine/utils/build-modified-spec-event.test.ts
  packages/control-plane/src/engine/utils/build-modified-spec-event.ts
  packages/control-plane/src/test-utils/build-spec.test.ts
  packages/control-plane/src/test-utils/build-spec.ts
Due: lint

refactor(pollers): rename v2 spec poller, delete v1 poller files, clean types
  packages/control-plane/src/engine/pollers/create-issue-poller.test.ts
  packages/control-plane/src/engine/pollers/create-issue-poller.ts
  packages/control-plane/src/engine/pollers/create-pr-poller.test.ts
  packages/control-plane/src/engine/pollers/create-pr-poller.ts
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.test.ts
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.ts
  packages/control-plane/src/engine/pollers/create-spec-poller.test.ts
  packages/control-plane/src/engine/pollers/create-spec-poller.ts
  packages/control-plane/src/engine/pollers/types.ts
Due: lint

docs(specs): align reviewer spec and agent prompt
  .claude/agents/reviewer.md
  docs/specs/decree/agent-reviewer.md
Due: format-markdown

docs(v2): add implementation phasing to migration plan
  docs/specs/decree/v2/001-plan.md
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

docs(specs): align implementor spec and workflow contracts
  docs/specs/decree/agent-implementor.md
  docs/specs/decree/workflow-contracts.md
Due: format-markdown

fix(agents): align implementor prompt with spec and contracts
  .claude/agents/implementor.md
Due: format-markdown

docs(specs): add contradiction detection AC to planner spec
  docs/specs/decree/agent-planner.md
Due: format-markdown

feat(engine): add handler types, createHandlers wiring, and handlePlanning
  packages/control-plane/src/engine/handlers/create-handlers.ts
  packages/control-plane/src/engine/handlers/handle-planning.test.ts
  packages/control-plane/src/engine/handlers/handle-planning.ts
  packages/control-plane/src/engine/handlers/types.ts
Due: lint

docs(specs): add CommandExecutor spec (migration step 5)
  docs/specs/decree/control-plane-engine-command-executor.md
Due: format-markdown

feat(engine): implement handleReadiness and handleDependencyResolution handlers
  packages/control-plane/src/engine/handlers/create-handlers.ts
  packages/control-plane/src/engine/handlers/handle-dependency-resolution.test.ts
  packages/control-plane/src/engine/handlers/handle-dependency-resolution.ts
  packages/control-plane/src/engine/handlers/handle-readiness.test.ts
  packages/control-plane/src/engine/handlers/handle-readiness.ts
Due: lint

feat(engine): implement handleOrphanedWorkItem and handleUserDispatch handlers
  packages/control-plane/src/engine/handlers/create-handlers.ts
  packages/control-plane/src/engine/handlers/handle-orphaned-work-item.test.ts
  packages/control-plane/src/engine/handlers/handle-orphaned-work-item.ts
  packages/control-plane/src/engine/handlers/handle-user-dispatch.test.ts
  packages/control-plane/src/engine/handlers/handle-user-dispatch.ts
Due: lint

feat(engine): implement handleImplementation and handleReview handlers
  packages/control-plane/src/engine/handlers/create-handlers.ts
  packages/control-plane/src/engine/handlers/handle-implementation.test.ts
  packages/control-plane/src/engine/handlers/handle-implementation.ts
  packages/control-plane/src/engine/handlers/handle-review.test.ts
  packages/control-plane/src/engine/handlers/handle-review.ts
Due: lint

feat(engine): add command-executor types, concurrency guards, and branch name builder
  packages/control-plane/src/engine/command-executor/build-branch-name.test.ts
  packages/control-plane/src/engine/command-executor/build-branch-name.ts
  packages/control-plane/src/engine/command-executor/check-concurrency-guards.test.ts
  packages/control-plane/src/engine/command-executor/check-concurrency-guards.ts
  packages/control-plane/src/engine/command-executor/types.ts
Due: lint

feat(engine): implement translateAndExecute command translation layer
  packages/control-plane/src/engine/command-executor/translate-and-execute.test.ts
  packages/control-plane/src/engine/command-executor/translate-and-execute.ts
Due: lint

feat(engine): implement startAgentAsync, createCommandExecutor, and test utilities
  packages/control-plane/src/engine/command-executor/create-command-executor.test.ts
  packages/control-plane/src/engine/command-executor/create-command-executor.ts
  packages/control-plane/src/engine/command-executor/start-agent-async.test.ts
  packages/control-plane/src/engine/command-executor/start-agent-async.ts
  packages/control-plane/src/test-utils/create-mock-enqueue.ts
  packages/control-plane/src/test-utils/create-mock-policy.ts
  packages/control-plane/src/test-utils/create-mock-runtime-adapter.ts
Due: lint

docs(engine): add v2 module admonitions to component specs
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-github-provider.md
  docs/specs/decree/control-plane-engine-handlers.md
  docs/specs/decree/control-plane-engine-issue-poller.md
  docs/specs/decree/control-plane-engine-pr-poller.md
  docs/specs/decree/control-plane-engine-spec-poller.md
  docs/specs/decree/control-plane-engine-state-store.md
Due: format-markdown

docs(engine): add runtime adapter specs and update migration plan (steps 6a/6b)
  docs/specs/decree/control-plane-engine-runtime-adapter-claude.md
  docs/specs/decree/control-plane-engine-runtime-adapter.md
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

feat(engine): create runtime adapter types module and migrate from command executor
  packages/control-plane/src/engine/command-executor/types.ts
  packages/control-plane/src/engine/runtime-adapter/types.ts
  packages/control-plane/src/test-utils/create-mock-runtime-adapter.ts
Due: lint

feat(runtime-adapter): implement agent definition loading
  packages/control-plane/src/engine/runtime-adapter/load-agent-definition.test.ts
  packages/control-plane/src/engine/runtime-adapter/load-agent-definition.ts
Due: lint

chore: update yarn.lock
  yarn.lock
Due: none

feat(runtime-adapter): implement planner context assembly
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-planner-context.test.ts
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-planner-context.ts
Due: lint

test(runtime-adapter): move vol.reset to afterEach in vitest.setup
  packages/control-plane/src/engine/runtime-adapter/load-agent-definition.test.ts
  packages/control-plane/vitest.setup.ts
Due: lint

feat(runtime-adapter): implement reviewer context assembly
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-reviewer-context.test.ts
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-reviewer-context.ts
Due: lint

feat(runtime-adapter): implement patch extraction for Claude adapter
  packages/control-plane/src/engine/runtime-adapter/extract-patch.test.ts
  packages/control-plane/src/engine/runtime-adapter/extract-patch.ts
Due: lint

fix(runtime-adapter): remove type assertion in load-agent-definition
  packages/control-plane/src/engine/runtime-adapter/load-agent-definition.ts
Due: lint

feat(runtime-adapter): implement implementor context assembly
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-implementor-context.test.ts
  packages/control-plane/src/engine/runtime-adapter/context-assembly/build-implementor-context.ts
  packages/control-plane/src/engine/runtime-adapter/context-assembly/types.ts
Due: lint

fix(runtime-adapter): resolve lint errors in Claude adapter and tests
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.test.ts
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.ts
Due: lint

fix(runtime-adapter): resolve TypeScript errors and test failures in Claude adapter
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.test.ts
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.ts
Due: lint

refactor(runtime-adapter): remove type casts and use correct types
  .claude/CLAUDE.md
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.test.ts
  packages/control-plane/src/engine/runtime-adapter/create-claude-adapter.ts
  packages/control-plane/src/engine/runtime-adapter/schemas.ts
Due: lint, format-markdown

docs(v2): rework engine spec and align sub-specs for v2 architecture
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-github-provider.md
  docs/specs/decree/control-plane-engine-handlers.md
  docs/specs/decree/control-plane-engine-issue-poller.md
  docs/specs/decree/control-plane-engine-pr-poller.md
  docs/specs/decree/control-plane-engine-runtime-adapter-claude.md
  docs/specs/decree/control-plane-engine-runtime-adapter.md
  docs/specs/decree/control-plane-engine-spec-poller.md
  docs/specs/decree/control-plane-engine-state-store.md
  docs/specs/decree/control-plane-engine.md
  docs/specs/decree/v2/001-plan.md
  docs/specs/decree/v2/002-architecture.md
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

docs(v2): renumber migration plan steps to match execution order
  docs/specs/decree/v2/003-migration-plan.md
Due: format-markdown

fix(specs): carry branchName on ApplyImplementorResult command
  docs/specs/decree/control-plane-engine-command-executor.md
  docs/specs/decree/control-plane-engine-handlers.md
  docs/specs/decree/v2/002-architecture.md
Due: format-markdown

docs(v2): approve control plane engine spec v1.0.0
  docs/specs/decree/control-plane-engine.md
Due: format-markdown

refactor(engine): move getDefaultBranchSHA to SpecProviderReader
  packages/control-plane/src/engine/github-provider/readers/create-spec-reader.test.ts
  packages/control-plane/src/engine/github-provider/readers/create-spec-reader.ts
  packages/control-plane/src/engine/github-provider/types.ts
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.test.ts
  packages/control-plane/src/engine/pollers/create-spec-poller-v2.ts
  packages/control-plane/src/engine/pollers/types.ts
Due: lint

feat(engine): carry branchName on ApplyImplementorResult command
  packages/control-plane/src/engine/command-executor/translate-and-execute.test.ts
  packages/control-plane/src/engine/command-executor/translate-and-execute.ts
  packages/control-plane/src/engine/handlers/handle-implementation.test.ts
  packages/control-plane/src/engine/handlers/handle-implementation.ts
  packages/control-plane/src/engine/state-store/domain-type-stubs.ts
  packages/control-plane/src/test-utils/build-implementor-completed-event.test.ts
  packages/control-plane/src/test-utils/build-implementor-completed-event.ts
Due: lint

feat(engine): create event queue module for v2 engine
  packages/control-plane/src/engine/event-queue/create-event-queue.test.ts
  packages/control-plane/src/engine/event-queue/create-event-queue.ts
  packages/control-plane/src/engine/event-queue/types.ts
Due: lint

feat(engine): add v2 engine types, default policy, and review history fetcher
  packages/control-plane/src/engine/v2-engine/build-review-history-fetcher.test.ts
  packages/control-plane/src/engine/v2-engine/build-review-history-fetcher.ts
  packages/control-plane/src/engine/v2-engine/default-policy.test.ts
  packages/control-plane/src/engine/v2-engine/default-policy.ts
  packages/control-plane/src/engine/v2-engine/types.ts
Due: lint

fix(engine): remove inline import type expression in v2 engine types
  packages/control-plane/src/engine/v2-engine/types.ts
Due: lint

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx,json}
  format-markdown: any of: *.md
